<div class="header">
  <div class="header-right">
    <div class="app_title">
    <h1>timer</h1>
    </div>
  </div>
  <div class="header-left">
    <div class="devise-contents">
    <%= link_to "新規登録", new_user_registration_path, class:"devise"%>
    </div>
    <%= link_to "ログイン", new_user_session_path, class:"devise"%>
    </div>
  </div>
</div>