<%= render "shared/header" %>
<div class="main">
<div class="messages">
  <h1 class="main-message">自分の努力の時間を計ろう！！</h1>
  <div class="message-contents">
  <h1 class="how-to-use"> 〜使用方法〜</h1>
  <p class="message">①マイページに行ってタイマーを作ろう</p>
  <p class="message">②タイマーを作ったら時間を計ろう！！</p>
  <p class="message">③目指せ１万時間！！</p>
  </div>
</div>
</div>
<%= render "shared/footer" %>